<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Black Bishops Ministries</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <h1>Black Bishops Ministries</h1>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg py-3 sticky-sm-top navbar-light bg-white"
    >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo" src="images/logo1.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event_list' %}">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%donation_history}">Donations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="send_message">Communication</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Upcoming Events</a>
            </li>
          </ul>
          <button class="btn btn-info ms-lg-3">login/signup</button>
        </div>
      </div>
    </nav>

    <div class="hero vh-100 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center">
            <h1 class="display-4 text-white">
              Black Bishops Ministries
            </h1>

            <p class="text-blue my-3">
          
            </p>

            
          </div>
        </div>
      </div>
    </div>

    <section id="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8 mx-auto text-center">
            <h6 class="text-primary">SERVICES</h6>
            <h1>Welcome to Black Bishops Ministries</h1>
            <p>
              Visitors are highly appreciated at our church anytime you wish to be part of us please contact us.
            </p>
          </div>
        </div>
        <div class="row mt-5 g-4">
          <div class="col-lg-4 col-sm-6">
            <div class="services card-effect">
                <div class="iconbox">
                    <i class='bx bxs-graduation'></i>
                </div>
                    <h5 class="mt-4 mb-2">AUTHENTICATION</h5>
                    <p>
                        We have groups for visitors to join because once you become part of us you are categorized in a specific
                        group according to your age. For young kids we have children group for teenagers we have youth group and 
                        so on. In these groups we conduct events usually bible study sessions, movie night and staff.
                        Sometimes the pastor will conduct bible sessions according to your groups.
                    </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services card-effect">
                <div class="iconbox">
                    <i class='bx bx-dna'></i>
                </div>
                    <h5 class="mt-4 mb-2">Communication</h5>
                    <p>
                        Here the staff communicates with the church congregrates basically to remind them of the events which 
                        are to be held in the church at the specified date and time. When a visitor becomes part of us you
                        are registered in our platforms by that the staff makes you to feel welcome in our church and will always be
                        in contact with you to check your whereabouts and advise you in some of the things.
                         <area shape="" coords="" href="" alt="">
                    </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services card-effect">
                <div class="iconbox">
                    <i class='bx bxs-data'></i>
                </div>
                    <h5 class="mt-4 mb-2">Donations</h5>
                    <p>
                        Donations are highly appreciated in our church regardless of what type of donations it is, it might
                        be materials, tools, or in a form of cash we appreciate. These donations are used to feed our church
                        members who are less fortunate, orphans or any member who has seriuos problems eg might be suffering
                        from an illness or disease we use these donations to assist them in however we can.
                    </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services card-effect">
                <div class="iconbox">
                    <i class='bx bxs-briefcase-alt-2'></i>
                </div>
                    <h5 class="mt-4 mb-2">Our Placement</h5>
                    <p>
                        We have graduated a pretty good number of students who are making a telling contribution
                        to our societies by holding good positions at the most influencial firms in Botswana with 
                        few making waves in foreign countries.
                    </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services card-effect">
                <div class="iconbox">
                    <i class='bx bx-bullseye'></i>
                </div>
                    <h5 class="mt-4 mb-2">Breaking Records</h5>
                    <p>
                        We have graduated a pretty good number of students who are making a telling contribution
                        to our societies by holding good positions at the most influencial firms in Botswana with 
                        few making waves in foreign countries.
                    </p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="services card-effect">
                <div class="iconbox">
                    <i class='bx bx-key'></i>
                </div>
                    <h5 class="mt-4 mb-2">The Future</h5>
                    <p>
                        We have graduated a pretty good number of students who are making a telling contribution
                        to our societies by holding good positions at the most influencial firms in Botswana with 
                        few making waves in foreign countries.
                    </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-md-4">
                        <img src="images/logo1.png" alt="logo">
                    </div> 
                    <div class="col-md-2">
                        <h5></h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Gorata Kopelo</a></li>
                            <li><a href="#">Tankiso Mary Moshoboro</a></li>
                            <li><a href="#">Kopo Binang</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5>Top Staff</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Dr. John Doe</a></li>
                            <li><a href="#">Ms. Mary Doe</a></li>
                            <li><a href="#">Prof. Peter Doe</a></li>
                        </ul>
                     </div>
                    <div class="col-md-4">
                         <h5>Top Modules</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Artificial Intelligence</a></li>
                            <li><a href="#">Computing Technology</a></li>
                            <li><a href="#">Intelligent Systems</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        @2022 copyrights all rights reserved
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
